body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main {
  margin: 2vh 10vw 2vh 10vw;
}

.main-table {
  display: grid;
  grid-template-columns: 50% 20% 5% 20% 5%;
  align-items: center;
}

.candidate-details-map {
  display: grid;
  grid-column-start: 1;
  grid-column-end: -1;
  grid-template-columns: 50% 20% 5% 20% 5%;
  grid-template-rows: 30px;
  align-items: center;
}

.applications {
  grid-column-start: 1;
  grid-column-end: -1;
}

.application-table {
  display: grid;
  grid-template-columns: 50% 20%;
}

.pointer {
  cursor: pointer;
}

.invisible {
  display: none;
}

.visible {
  display: inline;
}
